//Colors
$primary-color: #0A2D37;
$secondary-color: #2B5F4F;
$tertiary-color: #275D77;
$quaternary-color: #6BA8B0;
$quinary-color:#C9E7EB;
$senary-color:#87C840;
$septenary-color:#ffa726;

//Fonts
$title-font: "Kaushan Script", cursive;
$primary-font: "Patua One", serif;

//Shadows
$deeper-text:
1px 1px 2px rgba(0, 0, 0, 0.2),
2px 2px 4px rgba(0, 0, 0, 0.2),
2px 2px 4px rgba(0, 0, 0, 0.2);
$deeper-card: 
  1px 1px 2px rgba(0, 0, 0, 0.2),
  2px 2px 4px rgba(0, 0, 0, 0.15),
  3px 3px 6px rgba(0, 0, 0, 0.1),
  4px 4px 8px rgba(0, 0, 0, 0.05);
$deeper-card-inset:
  inset 0 4px 8px rgba(0, 0, 0, 0.25), 
  0 10px 20px rgba(0, 0, 0, 0.2),
  0 6px 6px rgba(0, 0, 0, 0.15);    
$bento-card:
  8px 8px 20px rgba(0, 0, 0, 0.25),
  -8px -8px 20px rgba(255, 255, 255, 0.15);

//Gradients
$first-gradient: linear-gradient(to top, rgb(18, 18, 18, 0.9), $primary-color);
$second-gradient: linear-gradient(to bottom, rgb(18, 18, 18, 0.9), $primary-color);
$third-gradient: linear-gradient(to top, rgb(18, 18, 18, 0.9), $tertiary-color);
$fourth-gradient: linear-gradient(to bottom, rgb(18, 18, 18, 0.9), $tertiary-color);

//Transition
$basic-transition: box-shadow 0.3s ease, transform 0.3s ease;
$basic-transform: translateY(-5px);

//Transition
$basic-transition: box-shadow 0.3s ease, transform 0.3s ease;
$basic-transform: translateY(-5px);
