<div class="home-parallax">
  <div class="home-background">
    <div class="home-overlay"></div>
    <div class="home-content">
      <h1>Domina la Grieta del Invocador</h1>
      <p>Descubre los campeones, perfecciona tus habilidades, configura tus runas y selecciona los mejores ítems como un profesional.</p>
      <div class="features">
        <div class="feature-item" data-scroll routerLink="/champions">
          <h2 appTitleStyle>Campeones</h2>
          <p>Explora todos los campeones de League of Legends, sus habilidades y roles dentro del juego.</p>
        </div>
        <div class="feature-item" data-scroll routerLink="/spells">
          <h2 appTitleStyle>Hechizos</h2>
          <p>Conoce los hechizos que pueden marcar la diferencia en la batalla, y cómo utilizarlos estratégicamente.</p>
        </div>
        <div class="feature-item" data-scroll routerLink="/runes">
          <h2 appTitleStyle>Runas</h2>
          <p>Configura tus runas para maximizar tu rendimiento en el juego, según tu estilo de juego y el campeón que uses.</p>
        </div>
        <div class="feature-item" data-scroll routerLink="/items">
          <h2 appTitleStyle>Ítems</h2>
          <p>Descubre los mejores ítems para cada campeón y cómo construir tu equipamiento para dominar cualquier partida.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer/>

