@import "../../../scss/variables";

// Main container
.main {
  background-image: url('../../../assets/summoner-rift2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 150%;

  .main-overlay {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .main-title{
    text-align: center;
    margin-block: 5%;
    color: $septenary-color;
    font-family: $title-font;
    font-weight: 800;
    font-size: 3.5rem;
    text-shadow: $deeper-text;
  }

  // Spinner
  .spinner-container {
    display: flex;
    flex-direction: column;
    gap: 4%;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 30vh;

    h2{
      font-size: xx-large;
    }
  }
}



// Grid container
.champion-info-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 4%;
  height: 100vh;
}

//Champion-Image
.my-atropos {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  grid-row-start: 1;

  .name {
    text-align: center;
    color: $senary-color;
    font-family: $title-font;
    font-weight: 800;
    font-size: 3.5rem;
    text-shadow: $deeper-text;
  }

  .title {
    text-align: center;
    font-family: $title-font;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: $deeper-text;
    color: $senary-color;
    padding-top: 5px;
  }

  .atropos-inner {
    width: 18vw;
    height: 65vh;
    margin-inline: auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    .atropos-image {
      width: 100%;
      height: 100%;
    }
  }
}

//History
.champion-history {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  background-color: $primary-color;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: $quinary-color;
  padding-inline: 8px;
  overflow: hidden;
  transition: $basic-transition;
  border-radius: 30px;
  box-shadow: $deeper-card-inset;

  h2{
    text-shadow: $deeper-text;
  }
  &:hover {
    box-shadow: $bento-card;
    transform: $basic-transform;
  }
}

//Tips
.tips {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
  background-color: $secondary-color;
  box-shadow: $deeper-card;
  text-align: center;
  align-items: center;
  color: $quinary-color;
  justify-content: center;
  padding-inline: 10px;
  overflow: hidden;
  transition: $basic-transition;
  border-radius: 30px;
  box-shadow: $deeper-card-inset;

  h2{
    text-shadow: $deeper-text;
  }

  &:hover {
    box-shadow: $bento-card;
    transform: $basic-transform;
  }
}

//Tags
.tags {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 6;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  box-shadow: $deeper-card;
  font-size: larger;
  font-weight: 400;
  text-align: center;
  color: $quinary-color;
  transition: $basic-transition;
  border-radius: 30px;
  box-shadow: $deeper-card-inset;

  &:hover {
    box-shadow: $bento-card;
    transform: $basic-transform;
  }

  .difficulty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h5 {
      text-shadow: $deeper-text;
    }
  }
}

//Skills
.skills {
  grid-column: span 2 / span 2;
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 1;
  background-color: $secondary-color;
  box-shadow: $deeper-card;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
  grid-gap: 20px; 
  padding: 15px;
  transition: $basic-transition;
  border-radius: 30px;
  box-shadow: $deeper-card-inset;

  &:hover {
    box-shadow: $bento-card;
    transform: $basic-transform;
  }

  .skills-title{
    grid-column: span 2;
    text-align: center;
    align-content: center;
    text-shadow: $deeper-text;
  }

  //Skills-cards
  .card {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background:$second-gradient;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 2000px;
    box-shadow: $bento-card;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    h2 {
      align-self: flex-start;
      color: $septenary-color !important;
      text-shadow: $deeper-text;
    }

    img {
      width: 70%;
      height: 70%;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      margin: 5px;
      border-radius: 15px;
      box-shadow: $deeper-card-inset;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
  }

  //Card-content
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-inline: 15px;
    box-sizing: border-box;
    text-align: justify;
    line-height: 1.4;
    overflow: auto;
    background-color: $primary-color;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      background: lighten($primary-color, 20%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($primary-color, 10%);
      border-radius: 10px;
      border: 4px solid transparent;
    }
  }

  .card:hover .card__content {
    transform: rotateX(0deg);
  }

  .card__title {
    text-align: center;
    padding: 5px;
    font-size: x-large;
    font-family: $title-font;
    color: $septenary-color;
    text-shadow: $deeper-text;
  }

  .card__description {
    color: antiquewhite;
    font-size: smaller;
  }
}


// Media query para pantallas medianas (tablets)
@media (max-width: 1200px) {
  .main{
    .main-title {
      font-weight: 650;
      font-size: 2.5rem;
    }
  }

  .champion-info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 4% 2%;
    gap: 10px;
  }

  .my-atropos {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    width: 100%;
    height: 100%;
  
    .name {
      font-weight: 600;
      font-size: 2rem;
    }

    .title {
      font-weight: 500;
      font-size: 1.4rem;
    }
    .atropos-inner {
      width: 45%;
      height: 75%;
    }
  }

  .champion-history {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    gap: 1px;
    padding-inline: 0px;
    line-height: 1.5;

    h2{
      font-size: xx-large;
    }

    .history-content {
      font-size: smaller;
    }
  }

  .tips {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 5;
    padding-inline: 0px;
    line-height: 1.5;

    h2{
      font-size: xx-large;
    }

    p{
      font-size: smaller;
    }
  }

  .tags {
    grid-column: span 2 / span 2;
    grid-row-start: 7;
    font-size: medium;
    font-weight: 300;

    h5{
      font-size: large;
    }

    span{
      font-size: smaller;
    }
  }

  .skills {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 8;
    grid-gap: 12px; 
    display: flex;
    flex-direction: row;

    h2{
      font-size: medium;
    }

    .card {
      margin: 2px;

      .img{
        width: 60%;
        height: 60%;
      }
    }

    .card__content {
      text-align: center;
      line-height: 1;
      padding: 5px;
    }

    .card__title {
      padding: 2px;
      font-size: medium;
    }
  }
}

// Media query para pantallas chicas (Mobile)
@media (max-width: 600px) {
  .main {
    height: 300vh;
    .main-title {
      font-weight: 500;
      font-size: 2.2rem;
    }
  }

  .champion-info-container {
    display: flex;
    flex-direction: column;
    margin-inline: 5vw;
  }

  .my-atropos {
    width: 100%;
    height: 100%;
  
    .name {
      font-weight: 600;
      font-size: 1.8rem;
      margin-top: 2vh;
    }

    .title {
      font-weight: 400;
      font-size: 1.2rem;
    }
    .atropos-inner {
      width: 40%;
      height: 75%;
    }
  }

  .tags {
    font-size: smaller;
    font-weight: 200;
    margin-top: 2vh;
    max-height: 12vh;

    h5{
      font-size: medium;
    }

    span{
      font-size: smaller;
    }
  }

  .tips {
    line-height: 1.5;
    min-height: 35vh;

    h2{
      font-size: x-large;
    }

    p{
      font-size: smaller;
    }
  }

  .champion-history {
    display: none;
    gap: 1px;
    padding-inline: 0px;
    line-height: 1.5;
    min-height: 40vh;
    margin-bottom: 3vh;

    h2{
      font-size: x-large;
    }

    .history-content {
      font-size: smaller;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;

    .card{
      img {
        width: 65%;
        height: 65%;
      }
    }
  }
}