
<div class="champion-info-container">
  <!-- Atropos container -->
  <div class="atropos my-atropos">
    <div class="atropos-scale">
      <div class="atropos-rotate">
        <h2 class="name">{{ champData.data[champName].name }}</h2>
        <div class="atropos-inner">
          <img class="atropos-image" [src]="champImageUrl" alt="{{ champData.data[champName].name }} loading screen" />
        </div>
        <p class="title">{{ champData.data[champName].title }}</p>
      </div>
    </div>
  </div>

  <!-- Champion History -->
  <mat-card class="champion-history">
    <mat-card-header>
      <mat-card-title class="history-title">Historia</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ champData.data[champName].lore }}</mat-card-content>
  </mat-card>

  <!-- Tags -->
  <mat-card class="tags">
    <mat-card-content>
      <p>{{ champData.data[champName].tags }}</p>
      <p class="difficulty">{{ champData.data[champName].info.difficulty }}</p>
    </mat-card-content>
  </mat-card>

  <!-- Tips -->
  <mat-card class="tips">
    <mat-card-content>
      <p>{{ champData.data[champName].allytips }}</p>
    </mat-card-content>
  </mat-card>

  <!-- Skills -->
  <div class="skills">
    <div class="skills" *ngIf="spellsData.length">
      <h3>Habilidades:</h3>
      <div *ngIf="passiveData">
        <div class="card">
          <h2>P</h2>
          <img [src]="passiveData.imageUrl" alt="{{ passiveData.name }} Image">
          <div class="card__content">
            <p class="card__title">{{ passiveData.name }}</p>
            <p class="card__description">{{ passiveData.description }}</p>
          </div>
        </div>
      </div>

      <div *ngFor="let spell of spellsData">
        <div class="card">
          <img [src]="spell.imageUrl" alt="{{ spell.name }} Image">
          <div class="card__content">
            <p class="card__title">{{ spell.name }}</p>
            <p class="card__description">{{ spell.description }}.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
