@import "../../../scss/variables";

// Main container
.main {
  background-image: url('../../../assets/summoner-rift3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 150%;

  .main-overlay {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .main-title{
    text-align: center;
    margin-top: 4%;
    color: $quaternary-color;
    font-family: $title-font;
    font-weight: 800;
    font-style: normal;
    font-size: 3.5rem;
    text-shadow: $deeper-text;
  }
}

// Grid container
.champion-info-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 4%;
  height: 100vh;
}

//Champion-Image
.my-atropos {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  grid-row-start: 1;

  .name {
    text-align: center;
    color: $secondary-color;
    font-family: $title-font;
    font-weight: 800;
    font-size: 3.5rem;
    text-shadow: $deeper-text;
  }

  .title {
    text-align: center;
    font-family: $title-font;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: $deeper-text;
    color: $secondary-color;
    padding-top: 5px;
  }

  .atropos-inner {
    width: 18vw;
    height: 65vh;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    .atropos-image {
      width: 100%;
      height: 100%;
    }
  }
}

//History
.champion-history {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  background-color: $primary-color;
  box-shadow: $deeper-card;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  padding-inline: 10px;
}

//Tags
.tags {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 6;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  box-shadow: $deeper-card;
  font-size: larger;
  font-weight: 400;
  text-align: center;

  .difficulty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

//Tips
.tips {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
  background-color: $quaternary-color;
  box-shadow: $deeper-card;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
}


//Skills
.skills {
  grid-column: span 2 / span 2;
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 1;
  background-color: $quaternary-color;
  box-shadow: $deeper-card;
  border-radius: 15px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  grid-gap: 10px; 
  padding: 10px;

  .skills-title{
    grid-column: span 2;
    text-align: center;
    align-content: center;
  }
}

//Skills-cards
.card {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background:$second-gradient;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 2px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  h2 {
    align-self: flex-start;
  }

  img {
    width: 70%;
    height: 70%;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 5px;
    border-radius: 15px;
    box-shadow: $deeper-card;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
}

//Card-content
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-inline: 15px;
  box-sizing: border-box;
  text-align: justify;
  line-height: 1.4;
  overflow: auto;
  background-color: $primary-color;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($primary-color, 20%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($primary-color, 10%);
    border-radius: 10px;
    border: 4px solid transparent;
  }
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  text-align: center;
  padding: 5px;
  font-size: x-large;
  font-family: $title-font;
  color: $quaternary-color;
  text-shadow: $deeper-text;
}

.card__description {
  color: antiquewhite;
  font-size: smaller;
}


// Spinner
.spinner-container {
  display: flex;
  flex-direction: column;
  gap: 4%;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 30vh;
}