@import '../../../scss/variables';

.footer {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background: $secondary-gradient;
  padding: 20px;
  height: 10vh;
  
  .footer-info{
    color: #fff;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    .icon-content {
      margin: 0 10px;
      position: relative;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #4d4d4d;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;

        svg {
          width: 30px;
          height: 30px;
          z-index: 1;
        }

        .filled {
          position: absolute;
          top: auto;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
          color: white;

          .filled {
            height: 100%;
          }
        }
      }

      .tooltip {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
          visibility: visible;
        }
      }

      a[data-social="linkedin"] .filled {
        background-color: #0274b3;
      }

      a[data-social="github"] .filled {
        background-color: #24262a;
      }

      a[data-social="instagram"] .filled {
        background: linear-gradient(
          45deg,
          #405de6,
          #5b51db,
          #b33ab4,
          #c135b4,
          #e1306c,
          #fd1f1f
        );
      }
    }
  }
}
