@if ( isLoading ) {
<section class="main">
  <div class="spinner-container">
    <mat-spinner class="spinner"></mat-spinner>
    <h2 appTitleStyle>Cargando Informacion...</h2>
  </div>
</section>
} 

@else {
  <section class="main">
    <div class="main-overlay"></div>
    <h1 class="main-title">Campeones</h1>
    <div class="champions-container">
      <div class="champions-grid">
        <div *ngFor="let champion of displayedChampions" class="champion-card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ champion.name }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="champion.imageUrl" alt="{{ champion.name }}">
            <mat-card-footer>
              <button mat-raised-button [routerLink]="['/champions/details', champion.id]">VER MÁS...</button>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
  
      <mat-paginator
        showFirstLastButtons
        hidePageSize
        [length]="champions.length"
        [pageSize]="pageSize"
        (page)="handlePageEvent($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </section>
}
