<div class="champions-container">
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let champion of displayedChampions">
      <mat-card class="champion-card">
        <mat-card-header>
          <mat-card-title>{{ champion.name }}</mat-card-title>
          <mat-card-subtitle>{{ champion.title}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image [src]="'assets/images/' + champion.image.full" alt="{{ champion.name }}"> -->
        <mat-card-content>
          <p>{{ champion.blurb }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/champions/details', champion.id]">VIEW DETAILS</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-paginator showFirstLastButtons
  hidePageSize
  [length]="champions.length"
  [pageSize]="pageSize"
  (page)="handlePageEvent($event)"
  aria-label="Select page">
</mat-paginator>


