@import "../../../scss/variables";

.main{
  background-image: url('../../../assets/summoner-rift3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;

  .main-overlay {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .main-title{
    text-align: center;
    margin-top: 4%;
    color: $septenary-color;
    font-family: $title-font;
    font-weight: 800;
    font-style: normal;
    font-size: 3.5rem;
    text-shadow: $bento-card;
  }
}

// Spinner
.spinner-container {
  display: flex;
  flex-direction: column;
  gap: 4%;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 30vh;
}

// Grid container
.champions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

mat-grid-list {
  width: 90%;
  max-width: 1400px;
  margin: 5% auto 0 auto;
}

mat-grid-tile {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

mat-grid-tile:hover {
  transform: scale(1.05);
}

.champion-card {
  background-color: $primary-color;
  width: 80%;
  height: 100%;
  box-shadow: $deeper-card;
}

mat-card-header {
  background-color: $secondary-color;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px;
  box-shadow: 
    inset 0 4px 8px rgba(0, 0, 0, 0.25), 
    0 10px 20px rgba(0, 0, 0, 0.2),
    0 6px 6px rgba(0, 0, 0, 0.15);   
  border-radius: 10px 10px 0 0;

  mat-card-subtitle{
    font-size: smaller;
    color: antiquewhite;
  }
}

mat-card img {
  height: 75%;
}

mat-card-footer {
  margin-top: 4%;
  align-self: center;
}

mat-card-footer button {
  color: $quinary-color;
}

mat-card-footer button:hover {
  background-color: $senary-color;
  color: $primary-color;
  font-weight: bold;
}

//Paginator
mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  height: 5%;
}
