@if ( isLoading ) {
  <section class="main">
    <div class="spinner-container">
      <mat-spinner class="spinner"></mat-spinner>
      <h2 appTitleStyle>Cargando Informacion...</h2>
    </div>
  </section>
  } 
  
@else {
  <section class="body">
    <mat-tab-group>
      <mat-tab *ngFor="let rune of runes">
        <ng-template mat-tab-label class="tab-title">
          <span appTitleStyle class="rune-title">{{ rune.name }}</span>
        </ng-template>
        <div class="parallax-container" [ngStyle]="{ 'background-image': 'url(/runes/' + rune.name + '.png)' }">
          <div class="rune-grid">
            <div *ngFor="let slot of rune.slots" class="runes">
              <div *ngFor="let subRune of slot.runes" class="rune">
                <img [src]="getRuneImageUrl(subRune.icon)" alt="{{ subRune.name }}" />
                <h3 appTitleStyle>{{ subRune.name }}</h3>
                <p>{{ subRune.shortDesc | cleanText }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
}
