@import "../../../scss/variables";

.body {
  background: $first-gradient;

  .tab-title {
    opacity: 0.8;
    border-radius: 10px 10px !important;
  }
  .rune-title {
    font-size: larger;
    color: $quinary-color;
  }
}

.parallax-container {
  position: relative;
  height: 150vh; /* Ajusta la altura del contenedor según tus necesidades */
  background-size: cover;
  background-attachment: fixed; /* Efecto parallax */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;

  .content {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté encima del fondo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente para el texto */
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

//Runes
.rune-grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.rune {
  padding: 15px;
  border-radius: 8px;
  box-shadow:$deeper-card;
  text-align: center;
  position: relative;
  max-width: 25vw;
  max-height: 15vh;
  overflow: scroll;
}

.rune img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rune p {
  font-size: small;
  color: $quinary-color
}

/* Responsive design */
@media (max-width: 768px) {
  .rune-grid {
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);
  }
}