@import "../../../scss/variables";

.body {
  background: $first-gradient;

  .tab-title {
    opacity: 0.8;
  }
  .rune-title {
    font-size: larger;
    color: $quinary-color;
  }
}

.parallax-container {
  position: relative;
  background-size: fill;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;

  .content {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

//Runes
.rune-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  margin: 10%;

  h3{
    text-shadow: $deeper-text;
  }
}

.rune img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 1px solid $quinary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rune p {
  font-size: small;
  text-shadow: $deeper-text;
  color: $quinary-color
}

// Ajustes para pantallas pequeñas
@media (max-width: 768px) {
  .rune-grid {
    grid-template-columns: repeat(2, 1fr); // 2 columnas en pantallas más pequeñas
  }
}

@media (max-width: 480px) {
  .rune-grid {
    grid-template-columns: 1fr; // 1 columna en pantallas muy pequeñas
  }
}