@if ( isLoading ) {
  <section class="body">
    <div class="spinner-container">
      <mat-spinner class="spinner"></mat-spinner>
      <h2 appTitleStyle>Cargando Informacion...</h2>
    </div>
  </section>
} 

@else { 
  <section class="body">
    <div class="items-overlay"></div>
    <h1 class="items-title">Items</h1>
    <div class="items-container">
      <div class="items-grid">
        <mat-card *ngFor="let item of items | filterItems" class="item-card" [ngClass]="{'expanded': selectedItem === item}" (click)="toggleExpand(item)">
          <mat-card-header>
            <span appTitleStyle>{{ item.name }}</span>
          </mat-card-header>
            <img class="item-img" mat-card-image [src]="getItemImageUrl(item.image.full)" alt="{{ item.name }}">
          <mat-card-content>
            <p class="cost">{{item.gold.total}}</p>
            <img class="gold" src="/gold.png" width="30" height="30"/>
            <!-- Información adicional -->
            <div *ngIf="selectedItem === item" class="additional-info">
              <p [innerHTML]="item.description | cleanItemsText"></p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
}

<!-- <p>{{ item.description | cleanText }}</p> -->