@if ( isLoading ) {
  <section class="main">
    <div class="spinner-container">
      <mat-spinner class="spinner"></mat-spinner>
      <h2 appTitleStyle>Cargando Informacion...</h2>
    </div>
  </section>
} 
  
@else {
  <section class="body"> 
    <h1 class="main-title">Hechizos</h1>
    <div class="spells-container">
      <div class="spells-grid">
        <mat-card *ngFor="let spell of spells | filterSpells" class="spell-card">
          <mat-card-header>
            <mat-card-title appTitleStyle>{{ spell.name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="getSpellImageUrl(spell.image.full)" alt="{{ spell.name }}">
          <mat-card-content>
            <p>{{ spell.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
}
